beautifulsoup4==4.9.1
click==7.1.2
jupyter-client==6.0.0
numpy==1.18.5
pandas==1.0.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
soupsieve==2.0.1
urllib3==1.25.9
spotipy==2.22.1
nltk==3.5
matplotlib==3.3.3
sklearn
seaborn==0.11.0
patool==1.12
eli5==0.10.1
scipy==1.5.4
statsmodels==0.12.1